.venv/
__pycache__/
*.pyc

HeatSentinal/
repo/
block-b-extracted/
heatsentinal-phase-a/
*.zip
failed.pdf
*.jpeg

Heat_index.csv
Humidity.csv
Temperature.csv

backend/data/phase1/
backend/data/phase2/
backend/data/ncr_300m_grid.geojson
backend/data/ncr_300m_grid.gpkg

backend/.env

phaseB/
heat_pipeline (1) (1) (1).py
